/* PALETA DEL SITIO */

/* colores principales*/

$paleta:(
    'verde-oscuro': #005d44,
    'verde-claro': #90d88e,
    'rojo-oscuro': #c11919,
    'rojo-claro': #fb2020,
    'amarillo': #f6b02d,
    'rosado': #ffbfbf,
    'negro': black,
    'celeste': #00bfa5,
    'burdeo': #7a0204,
    'rosado-opaco': #c66a73,
    'naranjo': #ff7a2f,
);
