/* --------------PAGINA CONTACTO-----------------*/

/* ACORDEON PAGINA CONTACTO */ 
.titulo-faq{
    @include titulo(map-get($map: $paleta, $key: 'rosado'), whitesmoke);
    inline-size: 98vw;
    opacity: 0.8;
    font-size: 2.5rem;
}

.contenedor-subtitulo{
    font-size: 1.5rem;
    text-align: center;
    background-color: map-get($map: $paleta, $key: 'naranjo');
    opacity: 0.8;
    inline-size: 100vw;
    color: whitesmoke;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: 'Bebas Neue', cursive;
    .dos{
        background-color: map-get($map: $paleta, $key: 'rosado-opaco');
    }
}

.faq {
    width:81%;
    margin: auto;
    margin-top: 5rem;
    flex-direction: column;
    min-height: fit-content;
    display: flex;
    align-items:center;
    justify-content: center;
    background-image: linear-gradient(map-get($map: $paleta, $key: 'rosado-opaco' ), map-get($map: $paleta, $key: 'naranjo' ));
}

.contenedor-acordeon {
    width: 80%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    
}

.item-acordeon {
    background-color:rgba(62, 37, 63,0.8);
    border-radius:.4rem;
    margin-bottom: 1rem;
    padding: .1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.4);
}

.link-acordeon{
    font-size: 1.2rem;
    color: whitesmoke;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin-left: 2rem;
}

.link-acordeon i {
    padding: 0.5rem;
    margin-right: 2rem;
}

.link-acordeon .ion-md-remove{
    display:none;
}

.respuesta{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: rgb(236, 161, 48);
    border-radius: 1rem;
    color: whitesmoke;
    transition: max-height 650ms;
}

.respuesta::before{
    content:"";
    position:absolute;
    width: .6rem;
    height:90%;
    background-color: map-get($map: $paleta, $key: 'verde-oscuro' );
    top: 50%;
    left: 0;
    transform:translateY(-50%)
}

.respuesta p{
    padding: 2rem;
}

.item-acordeon:target .respuesta{
    max-height: 20rem;
}

.item-acordeon:target .link-acordeon .ion-md-add{
    display:none;
}

.item-acordeon:target .link-acordeon .ion-md-remove{
    display:block;
}

/* -----------FORMULARIO CONTACTO---------------*/

#container-contacto {
    display: flex;
    flex-direction: column;
    overflow-wrap: normal;
    background-image: url(../multimedia/contacto.jpg);
    margin-top: 3vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 8vh;
    color: whitesmoke;
}

#contact-form-titulo {
    padding:0.5rem;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(62, 37, 63,0.8);
    width: 50vw;
    margin: auto;
    border-radius: 25px;
    opacity: 0.8;
}

#contact-form-inputs {
    margin: 1vh auto 8vh auto;
    text-align: center;
    background: rgba(225, 132, 228, 0.4);
    border-radius:25px;
    padding:4rem;
    input {
        padding: 6px;
        margin-top: 8px;
    }
    label {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    }
    button{
        border-radius: 25px; 
        width: 5vw;
        height: 3vh; 
        border-color:rgba(38, 4, 39, 1);
        border-width: 1px;
        background-color: blanchedalmond;
        min-width: fit-content;
        &:hover{
            #contact-form-inputs button:hover{
            background-color: rgba(38, 4, 39, 0.6);
            color: blanchedalmond;
            border-color: blanchedalmond;
            font-weight: bold
            }
        }
    }
}




