/*  ----------------INDEX-------------------*/ 

.container{
    margin: 5vw;
    display: grid;
    max-width: 90vw;
    grid-template-columns: repeat(6, 1fr);
    grid-row: repeat(6, 1fr);
    gap: 5px;
}

.container > div{
    height: 35vh;
    background-size: cover;
    background-attachment: fixed;
}


.container > div:nth-child(11){
    grid-column: 5 / 6;
    grid-row: 2 / 4;
}

.container > div:nth-child(12){
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}

.container > div:nth-child(8){
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.container > div:nth-child(9){
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.container > div:nth-child(12){
    grid-column: 3 / 4;
    grid-row: 3 / 3;
}

.container > div:nth-child(17){
    grid-column: 5 / 6;
    grid-row: 3 / 3;
}

.bg1 {
    background: url(../multimedia/modificado1.jpg);
    z-index: 3;
    h1{
        color: whitesmoke;
        position: absolute;
        padding: 4rem;
        background-color: var(--verde-oscuro);
        opacity: 0.6;
        margin-top: -10.5rem;}
}

.bg2 {
    background: url(../multimedia/modificado2.png);
    z-index: 2;
}

.logo-interno {
    grid-column: 5 / 6;
    grid-row: 2 / 4;
    z-index: 4;
    @include fadeIn;
}
