
main{
    #titulo-blog {
        color: whitesmoke;
        @include titulo(map-get($map: $paleta, $key: 'rosado-opaco'), whitesmoke);
    }
    .blog-temas{
        color: whitesmoke;
        @extend #titulo-blog;
        background-color: map-get($map: $paleta, $key: 'verde-oscuro');
        margin-top: 1rem;
    }
    .blog{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2;
        .entrada {
            background-repeat: no-repeat;
            height: 50vh;
            max-inline-size: 35rem;
            max-width: 500px;
            padding: 0.2rem;
            margin: 0.2rem;
            margin-top: 1rem;
            margin-bottom: 5rem;
            @include border(12px);
            &:hover .entrada-texto{
                opacity: 1;   
            }
            &:hover .btn-leer-mas{
                opacity: 1; 
                background-color: map-get($map: $paleta, $key: 'negro' );  
            }
            .uno{
                background-image: url("../multimedia/gajar.jpg");
            }
            .dos{
                background-image: url("../multimedia/chilli-oil.jpg");   
            }
            .tres{
                background-image: url("../multimedia/kimono.jpg");
            }
            .entrada.cuatro{
                background-image: url("../multimedia/spices.webp");
            }
            .entrada.cinco{
                background-image: url("../multimedia/Goodbye-Dragon-Inn-780x470.jpg");
            }
            .entrada.seis{
                background-image: url("../multimedia/kanazawa.JPG");
            }
            .entrada.siete{
                background-image: url("../multimedia/muroxian.jpeg");
                margin-bottom: 100px;
            }
            .entrada-texto{
                background-color: map-get($map: $paleta, $key: 'naranjo' );
                padding: 5px;
                font-size: 1rem;
                .titulo-post{
                    text-justify: center;
                    color: map-get($map: $paleta, $key: 'verde-oscuro');
                    font-family: 'Bebas Neue', cursive;
                    font-size: 1.5rem;
                }
                h4{
                    font-family: 'Lora', serif;
                    font-size: 1rem;
                    color: whitesmoke;
                }
            }
        .btn-leer-mas{
            background-color: $negro; 
            margin-left: 35%;
            margin-top: 28%;
            border: none;
            color: white;
            padding: 15px 32px;
            font-size: 1,5rem;
            @include border(12px);
            &:hover{
                background-color: transparent;
                color: map-get($map: $paleta, $key: 'negro' );
                border-color: map-get($map: $paleta, $key: 'negro' );
                font-weight: bold;
                border-style: solid;
                }
            }
        }    
    }
}