@mixin titulo($color-fondo,$color-texto){
    text-align: center; 
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    padding:1rem;
    margin-top: 4rem;
    background-color: $color-fondo;
    color: $color-texto;
}

@mixin imagen-galeria{
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 380px;
    min-height: 375px;
}

@mixin border($radio){
    border-radius: $radio;
    -webkit-border-radius:$radio;
    -moz-border-radius:$radio;
}

@mixin hover{
    text-align: center;
    display: block;
    position: absolute;
    background-color:$verde-oscuro;
    margin-top: -1rem;
    width: 9.5rem;
    margin-left:10rem;
    border-radius:0 1rem 1rem 1rem;
    line-height: 2rem;
}


