@mixin titulo($color-fondo,$color-texto){
    text-align: center; 
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    padding:1rem;
    margin-top: 4rem;
    background-color: $color-fondo;
    color: $color-texto;
}

@mixin imagen-galeria{
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 380px;
    min-height: 375px;
}

@mixin border($radio){
    border-radius: $radio;
    -webkit-border-radius:$radio;
    -moz-border-radius:$radio;
}

@mixin hover{
    text-align: center;
    display: block;
    position: absolute;
    background-color:$verde-oscuro;
    margin-top: -2.1rem;
    width: 9.5rem;
    margin-left:10rem;
    border-radius:0 1rem 1rem 1rem;
}
@mixin fadeIn{
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s infinite alternate;;
    -moz-animation: fadeIn linear 3s infinite alternate;;
    -o-animation: fadeIn linear 3s infinite alternate;;
    -ms-animation: fadeIn linear 3s infinite alternate;;
    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
}

