/* ---------------BARRA NAVEGACION---------------------*/
header{
    a{
        color: whitesmoke;
    }
}

.nav-container{
    .logo{
        background-image: url(../multimedia/logo-mini.png);
        background-size: cover;
        height:100px;
        width:120px;
        align-self: center;
    }
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    flex-wrap: wrap;
    .nav-menu-items{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        .nav-menu-links{
            padding:1rem;
            inline-size: 9rem;
            height: 2rem;
            margin-top: 1rem;
            background: linear-gradient(to left, map-get($map: $paleta, $key: 'verde-oscuro') 50%, map-get($map: $paleta, $key: 'verde-claro') 50%) right;
            background-size: 200%;
            opacity: 0.8;
            transition: .5s ease-out;
            &:hover{
                background-position: left;
            }
            .icon.ion-md-arrow-dropright{
                display: none;
            }
            &:hover{
                background-color:map-get($map: $paleta, $key: 'negro' );
                color: white;
            }
        }
    }

    #social-media{
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
    
    

/* submenu productos */

.submenu {
    display:none;
    position:absolute;
    text-align: center;
    a{
        color: whitesmoke;
    }
}
#nav-item-productos{
    &:hover #submenu-productos{
        display: block;
        position: absolute;
        background-color: map-get($map: $paleta, $key: 'negro');
        width: 9rem;
        line-height: 2rem;
        margin-top: 1rem;
        box-shadow: 0px 0px 4px 4px map-get($map: $paleta, $key: 'verde-claro');
    }
}

/* submenu blog */

#nav-item-blog{
    &:hover #submenu-blog{
    display: block;
    position: absolute;
    background-color: map-get($map: $paleta, $key: 'negro' );
    box-shadow: 0px 0px 4px 4px map-get($map: $paleta, $key: 'verde-claro');
    width: 9rem;
    line-height: 2rem;
    margin-top: 1rem;
    }
}

/* submenu ayuda */
#nav-item-contacto{
    &:hover #submenu-contacto{
    display: block;
    position: absolute;
    background-color: map-get($map: $paleta, $key: 'negro' );
    box-shadow: 0px 0px 4px 4px map-get($map: $paleta, $key: 'verde-claro');
    width: 9rem;
    line-height: 2rem;
    margin-top: 1rem;
        }
    }
}