/* ---------------BARRA NAVEGACION---------------------*/
header{
    a{
        color: whitesmoke;
    }
}

.nav-container{
    .logo{
        background-image: url(../multimedia/logo-mini.png);
        background-size: cover;
        height:100px;
        width:120px;
    }
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    flex-wrap: wrap;
    .nav-menu-items{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        .nav-menu-links{
            padding: 1rem;
            inline-size: 9rem;
            .icon.ion-md-arrow-dropright{
                display: none;
            }
            &:hover{
                background-color:map-get($map: $paleta, $key: 'negro' );
                color: white;
                border-radius: 1rem;
                height: fit-content;
            }
        
        }
    }
}

.nav-container{
    .social-media{
        padding: 1rem 0rem;
        margin-right: 5rem;
    }
}



/* submenu productos */

.submenu {
    display:none;
    position:absolute;
    text-align: center;
    a{
        color: whitesmoke;
    }
}
#nav-item-productos{
    &:hover #submenu-productos{
        display: block;
        position: absolute;
        background-color: map-get($map: $paleta, $key: 'negro');
        width: 9rem;
        line-height: 2rem;
        margin-top: 1rem;
    }
}

/* submenu blog */

#nav-item-blog{
    &:hover #submenu-blog{
    display: block;
    position: absolute;
    background-color: map-get($map: $paleta, $key: 'negro' );
    width: 9rem;
    line-height: 2rem;
    margin-top: 1rem;
    }
}

/* submenu ayuda */
#nav-item-contacto{
    &:hover #submenu-contacto{
    display: block;
    position: absolute;
    background-color: map-get($map: $paleta, $key: 'negro' );
    width: 9rem;
    line-height: 2rem;
    margin-top: 1rem;
    }
}