/* -------------PRODUCTOS-------------- */
.titulo-galeria{
    @include titulo(map-get($map: $paleta, $key: 'naranjo'), whitesmoke);
    margin-bottom: 1rem;
}

.invitacion{
    color: whitesmoke;
    text-justify: center;
    text-align: justify;
    max-inline-size: 40rem;
    margin: auto;
    background-color: map-get($map: $paleta, $key: 'verde-oscuro');
    padding: 1rem;
}
.container-eventos{
    display: flex;
    margin: auto;
    margin-top: 2rem;
    width: 80vw;
    justify-content: center;
    flex-wrap: wrap;
    background-color: purple;
    opacity: 0.8;
    .tabla-eventos{
        border-collapse: collapse;
        margin: 2rem;
        min-width: 400px;
    }
}

.tabla-eventos th{
    background-color: black;
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    text-shadow:currentColor, 1rem;
}

.tabla-eventos th,
.tabla-eventos td{
    padding: 1rem;
    max-inline-size: 15rem;
    text-align: justify;
    li{
        list-style: circle;
        line-height: 2rem;
        font-family: 'Lora', serif;
        font-weight: bold;
    }
}
.fecha{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    text-shadow: 4px 4px black;
}


.tabla-eventos tbody tr{
    border-bottom: 1px solid map-get($map: $paleta, $key: 'rosado');
    color: white;
}
.titulo-peli{
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
}
#kwaidan{
    background-image: url(../multimedia/kwaidan.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 270px;
    width: 270px;
}
#wong{
    background-image: url(../multimedia/days-of-being-wild.jpg);
    background-repeat: no-repeat;
    height: 250px;
    width: 270px;
}
#brighter{
    background-image: url(../multimedia/brighter.jpg);
    background-repeat: no-repeat;
    height: 250px;
    width: 270px;
}
.flex-productos{
    display: flex;
    width: 75vw;
    margin: auto;
    justify-content: center;
    text-align: justify;
    background-color:map-get($map: $paleta, $key: 'verde-oscuro');
    .columna-productos p{
        max-inline-size: 22rem;
        margin: 2rem;
        .bold{
            font-weight: bold;
        }
    }
    .columna-productos h2{
        margin: auto;
        margin-top: 2rem;
        max-inline-size: 20rem;
        color: whitesmoke;
        font-family: 'Bebas Neue', cursive;
    }
}

.galeria-productos{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-height: fit-content;
    width: 75vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
    background-color: white;
    #dumpling-soya{
        width: 380px;
        height: 375px;
    }
    
    #dumpling-tofu{
        width: 380px;
        height: 375px;
    }
    
    #dumpling-champi{
        width: 380px;
        height: 375px;
    }
    
    #dumpling-zapallo{
        width: 380px;
        height: 375px;
    }
    
    .imagen-producto{
        margin: 1rem;
        &:hover{
            opacity: 0.5;
            transition: 1s;
        }
    }
}

