/* CLASES GLOBALES */
@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62,5%;
  height: 100%; }

p {
  font-family: 'Lora', serif; }

h2 {
  color: #fff; }

a {
  text-decoration: none;
  font-family: 'Lora', serif; }

li {
  list-style: none; }

body {
  background: black;
  z-index: 1;
  overflow-x: hidden; }

/* PALETA DEL SITIO */
/* colores principales*/
/* colores auxiliares */
/* PALETA DEL SITIO */
/* colores principales*/
/* ---------------BARRA NAVEGACION---------------------*/
header a {
  color: whitesmoke; }

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* submenu productos */
  /* submenu blog */
  /* submenu ayuda */ }
  .nav-container .logo {
    background-image: url(../multimedia/logo-mini.png);
    background-size: cover;
    height: 100px;
    width: 120px;
    align-self: center; }
  .nav-container .nav-menu-items {
    display: flex;
    justify-content: space-evenly;
    text-align: center; }
    .nav-container .nav-menu-items .nav-menu-links {
      padding: 1rem;
      inline-size: 9rem;
      height: 2rem;
      margin-top: 1rem;
      background: linear-gradient(to left, #005d44 50%, #90d88e 50%) right;
      background-size: 200%;
      opacity: 1;
      transition: .5s ease-out; }
      .nav-container .nav-menu-items .nav-menu-links:hover {
        background-position: left; }
      .nav-container .nav-menu-items .nav-menu-links .icon.ion-md-arrow-dropright {
        display: none; }
      .nav-container .nav-menu-items .nav-menu-links:hover {
        background-color: black;
        color: white; }
  .nav-container #social-media {
    display: flex;
    align-items: center;
    margin-right: 1rem; }
  .nav-container .submenu {
    display: none;
    position: absolute;
    text-align: center; }
    .nav-container .submenu a {
      color: whitesmoke; }
  .nav-container #nav-item-productos:hover #submenu-productos {
    display: block;
    position: absolute;
    background-color: black;
    width: 9rem;
    line-height: 2rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 4px 4px #90d88e; }
  .nav-container #nav-item-blog:hover #submenu-blog {
    display: block;
    position: absolute;
    background-color: black;
    box-shadow: 0px 0px 4px 4px #90d88e;
    width: 9rem;
    line-height: 2rem;
    margin-top: 1rem; }
  .nav-container #nav-item-contacto:hover #submenu-contacto {
    display: block;
    position: absolute;
    background-color: black;
    box-shadow: 0px 0px 4px 4px #90d88e;
    width: 9rem;
    line-height: 2rem;
    margin-top: 1rem; }

/* --------------------Footer----------------*/
footer {
  background-color: #ff7a2f;
  padding: 1rem;
  margin-top: 2rem;
  color: #7a0204; }
  footer a {
    color: #7a0204; }
    footer a:hover {
      font-weight: bold; }
    footer a ion-icon:hover {
      opacity: 0.6; }
  footer h4 {
    font-size: 1.2rem;
    line-height: 4rem; }
  footer .container-footer {
    display: flex;
    height: fit-content;
    justify-content: space-evenly; }
    footer .container-footer .footer-columna {
      display: flex;
      flex-direction: column; }
    footer .container-footer .footer-columna.rs {
      display: inline-block; }
  footer .derechos-reservados {
    text-align: center;
    padding-top: 2rem; }

main #titulo-blog, main .blog-temas {
  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
  padding: 1rem;
  margin-top: 4rem;
  background-color: #c66a73;
  color: whitesmoke; }

main .blog-temas {
  color: whitesmoke;
  background-color: #005d44;
  margin-top: 1rem; }

main .blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2; }
  main .blog .entrada {
    background-repeat: no-repeat;
    height: 50vh;
    max-inline-size: 35rem;
    max-width: 500px;
    padding: 0.2rem;
    margin: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px; }
    main .blog .entrada:hover .entrada-texto {
      opacity: 1; }
    main .blog .entrada:hover .btn-leer-mas {
      opacity: 1;
      background-color: black; }
    main .blog .entrada .uno {
      background-image: url("../multimedia/gajar.jpg"); }
    main .blog .entrada .dos {
      background-image: url("../multimedia/chilli-oil.jpg"); }
    main .blog .entrada .tres {
      background-image: url("../multimedia/kimono.jpg"); }
    main .blog .entrada .entrada.cuatro {
      background-image: url("../multimedia/spices.webp"); }
    main .blog .entrada .entrada.cinco {
      background-image: url("../multimedia/Goodbye-Dragon-Inn-780x470.jpg"); }
    main .blog .entrada .entrada.seis {
      background-image: url("../multimedia/kanazawa.JPG"); }
    main .blog .entrada .entrada.siete {
      background-image: url("../multimedia/muroxian.jpeg");
      margin-bottom: 100px; }
    main .blog .entrada .entrada-texto {
      background-color: #ff7a2f;
      padding: 5px;
      font-size: 1rem; }
      main .blog .entrada .entrada-texto .titulo-post {
        text-justify: center;
        color: #005d44;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5rem; }
      main .blog .entrada .entrada-texto h4 {
        font-family: 'Lora', serif;
        font-size: 1rem;
        color: whitesmoke; }
    main .blog .entrada .btn-leer-mas {
      background-color: black;
      margin-left: 35%;
      margin-top: 28%;
      border: none;
      color: white;
      padding: 15px 32px;
      font-size: 1,5rem;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px; }
      main .blog .entrada .btn-leer-mas:hover {
        background-color: transparent;
        color: black;
        border-color: black;
        font-weight: bold;
        border-style: solid; }

.flex-about-us {
  display: flex;
  width: 80vw;
  margin: auto;
  justify-content: center;
  text-align: justify;
  background-color: #ff7a2f;
  margin-bottom: 2rem; }
  .flex-about-us .columna-about-us p {
    max-inline-size: 24rem;
    margin: 2rem;
    font-weight: bold; }
  .flex-about-us .columna-about-us .destacado {
    font-size: 2rem;
    color: #7a0204;
    margin-right: 2rem; }
  .flex-about-us .columna-about-us .nivel-texto.dos {
    color: black;
    font-size: 1.1rem; }
  .flex-about-us .columna-about-us .nivel-texto {
    color: #7a0204;
    font-size: 1.1rem; }
  .flex-about-us .columna-about-us.dos {
    background-color: #005d44;
    max-inline-size: 28rem;
    color: blanchedalmond; }

.grid-origen {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  height: 100vh;
  width: 80vw;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 0.5fr 0.5fr; }
  .grid-origen #color-1 {
    background-color: #005d44;
    grid-column: 1 / 2;
    grid-row: 1 / 3; }
  .grid-origen #color-2 {
    background-color: #c11919;
    grid-column: 2 / 2;
    grid-row: 1 / 1; }
  .grid-origen #color-2 h1 {
    font-size: 6rem;
    color: #ff7a2f;
    margin: auto; }
  .grid-origen #color-2 h3 {
    color: #ffbfbf;
    margin-left: 4rem; }
  .grid-origen #color-3 {
    background-color: #f6b02d;
    grid-column: 3 / 3;
    grid-row: 1 / 1; }
  .grid-origen #color-4 {
    background-color: #ff7a2f;
    grid-column: 3 / 4;
    grid-row: 2 / 5; }
  .grid-origen #color-5 {
    background-color: #fb2020;
    grid-column: 1 / 3;
    grid-row: 4 / 4; }
  .grid-origen #imagen-biang-1 {
    background-image: url(../multimedia/caracter-biang-2.jpg);
    background-size: contain;
    grid-column: 1 / 3;
    grid-row: 3 / 3; }
  .grid-origen #imagen-biang-2 {
    background-image: url(../multimedia/caracter-biang.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    background-color: black; }

.seccion-nosotros {
  display: flex;
  width: max-content;
  min-height: max-content;
  width: 80vw;
  background-color: #005d44;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 9.5vw; }
  .seccion-nosotros .presentacion {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    width: 100vw;
    color: whitesmoke;
    max-inline-size: 20rem;
    text-align: justify;
    padding: 2rem 0rem 2rem 0rem;
    flex-wrap: wrap; }
    .seccion-nosotros .presentacion h2 {
      font-family: 'Bebas Neue', cursive;
      text-align: center;
      font-size: 2rem; }
    .seccion-nosotros .presentacion #imagen-nosotros {
      background-image: url(../multimedia/Post7.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      min-width: 250px;
      min-height: 320px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%; }
    .seccion-nosotros .presentacion #imagen-nosotros-2 {
      background-image: url(../multimedia/Post8.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      min-width: 250px;
      min-height: 320px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%; }

/*  ----------------INDEX-------------------*/
.container {
  margin: 5vw;
  display: grid;
  max-width: 90vw;
  grid-template-columns: repeat(6, 1fr);
  grid-row: repeat(6, 1fr);
  gap: 5px; }

.container > div {
  height: 35vh;
  background-size: cover;
  background-attachment: fixed; }

.container > div:nth-child(11) {
  grid-column: 5 / 6;
  grid-row: 2 / 4; }

.container > div:nth-child(12) {
  grid-column: 5 / 6;
  grid-row: 3 / 4; }

.container > div:nth-child(8) {
  grid-column: 2 / 3;
  grid-row: 2 / 3; }

.container > div:nth-child(9) {
  grid-column: 3 / 4;
  grid-row: 2 / 3; }

.container > div:nth-child(12) {
  grid-column: 3 / 4;
  grid-row: 3 / 3; }

.container > div:nth-child(17) {
  grid-column: 5 / 6;
  grid-row: 3 / 3; }

.bg1 {
  background: url(../multimedia/modificado1.jpg);
  z-index: 3; }
  .bg1 h1 {
    color: whitesmoke;
    position: absolute;
    padding: 4rem;
    background-color: var(--verde-oscuro);
    opacity: 0.6;
    margin-top: -10.5rem; }

.bg2 {
  background: url(../multimedia/modificado2.png);
  z-index: 2; }

.logo-interno {
  grid-column: 5 / 6;
  grid-row: 2 / 4;
  z-index: 4;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s infinite alternate;
  -moz-animation: fadeIn linear 3s infinite alternate;
  -o-animation: fadeIn linear 3s infinite alternate;
  -ms-animation: fadeIn linear 3s infinite alternate; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* -------------PRODUCTOS-------------- */
.titulo-galeria {
  text-align: center;
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
  padding: 1rem;
  margin-top: 4rem;
  background-color: #ff7a2f;
  color: whitesmoke;
  margin-bottom: 1rem; }

.invitacion {
  color: whitesmoke;
  text-justify: center;
  text-align: justify;
  max-inline-size: 40rem;
  margin: auto;
  background-color: #005d44;
  padding: 1rem; }

.container-eventos {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  width: 80vw;
  justify-content: center;
  flex-wrap: wrap;
  background-color: purple;
  opacity: 0.8; }
  .container-eventos .tabla-eventos {
    border-collapse: collapse;
    margin: 2rem;
    min-width: 400px; }

.tabla-eventos th {
  background-color: black;
  color: whitesmoke;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  text-shadow: currentColor, 1rem; }

.tabla-eventos th,
.tabla-eventos td {
  padding: 1rem;
  max-inline-size: 15rem;
  text-align: justify; }
  .tabla-eventos th li,
  .tabla-eventos td li {
    list-style: circle;
    line-height: 2rem;
    font-family: 'Lora', serif;
    font-weight: bold; }

.fecha {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  text-shadow: 4px 4px black; }

.tabla-eventos tbody tr {
  border-bottom: 1px solid #ffbfbf;
  color: white; }

.titulo-peli {
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive; }

#kwaidan {
  background-image: url(../multimedia/kwaidan.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 270px;
  width: 270px; }

#wong {
  background-image: url(../multimedia/days-of-being-wild.jpg);
  background-repeat: no-repeat;
  height: 250px;
  width: 270px; }

#brighter {
  background-image: url(../multimedia/brighter.jpg);
  background-repeat: no-repeat;
  height: 250px;
  width: 270px; }

.flex-productos {
  display: flex;
  width: 75vw;
  margin: auto;
  justify-content: center;
  text-align: justify;
  background-color: #005d44; }
  .flex-productos .columna-productos p {
    max-inline-size: 22rem;
    margin: 2rem; }
    .flex-productos .columna-productos p .bold {
      font-weight: bold; }
  .flex-productos .columna-productos h2 {
    margin: auto;
    margin-top: 2rem;
    max-inline-size: 20rem;
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive; }

.galeria-productos {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-height: fit-content;
  width: 75vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
  background-color: white; }
  .galeria-productos #dumpling-soya {
    width: 380px;
    height: 375px; }
  .galeria-productos #dumpling-tofu {
    width: 380px;
    height: 375px; }
  .galeria-productos #dumpling-champi {
    width: 380px;
    height: 375px; }
  .galeria-productos #dumpling-zapallo {
    width: 380px;
    height: 375px; }
  .galeria-productos .imagen-producto {
    margin: 1rem; }
    .galeria-productos .imagen-producto:hover {
      opacity: 0.5;
      transition: 1s; }

/* --------------PAGINA CONTACTO-----------------*/
/* ACORDEON PAGINA CONTACTO */
.titulo-faq {
  text-align: center;
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
  padding: 1rem;
  margin-top: 4rem;
  background-color: #ffbfbf;
  color: whitesmoke;
  inline-size: 98vw;
  opacity: 0.8;
  font-size: 2.5rem; }

.contenedor-subtitulo {
  font-size: 1.5rem;
  text-align: center;
  background-color: #ff7a2f;
  opacity: 0.8;
  inline-size: 100vw;
  color: whitesmoke;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: 'Bebas Neue', cursive; }
  .contenedor-subtitulo .dos {
    background-color: #c66a73; }

.faq {
  width: 81%;
  margin: auto;
  margin-top: 5rem;
  flex-direction: column;
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#c66a73, #ff7a2f); }

.contenedor-acordeon {
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

.item-acordeon {
  background-color: rgba(62, 37, 63, 0.8);
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: .1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.4); }

.link-acordeon {
  font-size: 1.2rem;
  color: whitesmoke;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin-left: 2rem; }

.link-acordeon i {
  padding: 0.5rem;
  margin-right: 2rem; }

.link-acordeon .ion-md-remove {
  display: none; }

.respuesta {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #eca130;
  border-radius: 1rem;
  color: whitesmoke;
  transition: max-height 650ms; }

.respuesta::before {
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color: #005d44;
  top: 50%;
  left: 0;
  transform: translateY(-50%); }

.respuesta p {
  padding: 2rem; }

.item-acordeon:target .respuesta {
  max-height: 20rem; }

.item-acordeon:target .link-acordeon .ion-md-add {
  display: none; }

.item-acordeon:target .link-acordeon .ion-md-remove {
  display: block; }

/* -----------FORMULARIO CONTACTO---------------*/
#container-contacto {
  display: flex;
  flex-direction: column;
  overflow-wrap: normal;
  background-image: url(../multimedia/contacto.jpg);
  margin-top: 3vh;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 8vh;
  color: whitesmoke; }

#contact-form-titulo {
  padding: 0.5rem;
  color: whitesmoke;
  text-align: center;
  background-color: rgba(62, 37, 63, 0.8);
  width: 50vw;
  margin: auto;
  border-radius: 25px;
  opacity: 0.8; }

#contact-form-inputs {
  margin: 1vh auto 8vh auto;
  text-align: center;
  background: rgba(225, 132, 228, 0.4);
  border-radius: 25px;
  padding: 4rem; }
  #contact-form-inputs input {
    padding: 6px;
    margin-top: 8px; }
  #contact-form-inputs label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  #contact-form-inputs button {
    border-radius: 25px;
    width: 5vw;
    height: 3vh;
    border-color: #260427;
    border-width: 1px;
    background-color: blanchedalmond;
    min-width: fit-content; }
    #contact-form-inputs button:hover #contact-form-inputs button:hover {
      background-color: rgba(38, 4, 39, 0.6);
      color: blanchedalmond;
      border-color: blanchedalmond;
      font-weight: bold; }

/*  Barra navegacion */
@media screen and (max-width: 768px) {
  /*  Barra navegacion */
  html, body {
    overflow-x: hidden; }
  body {
    position: relative; }
  .nav-container {
    flex-direction: column; }
    .nav-container .nav-menu-items {
      flex-direction: column;
      margin-top: 1rem; }
      .nav-container .nav-menu-items .nav-menu-links {
        margin-top: 0; }
      .nav-container .nav-menu-items .link-nav {
        pointer-events: none; }
        .nav-container .nav-menu-items .link-nav .icon.ion-md-arrow-dropright {
          display: inline; }
        .nav-container .nav-menu-items .link-nav .icon.ion-ios-arrow-down {
          display: none; }
      .nav-container .nav-menu-items #nav-item-productos:hover #submenu-productos {
        text-align: center;
        display: block;
        position: absolute;
        background-color: #005d44;
        margin-top: -2.1rem;
        width: 9.5rem;
        margin-left: 10rem;
        border-radius: 0 1rem 1rem 1rem; }
      .nav-container .nav-menu-items #nav-item-blog:hover #submenu-blog {
        text-align: center;
        display: block;
        position: absolute;
        background-color: #005d44;
        margin-top: -2.1rem;
        width: 9.5rem;
        margin-left: 10rem;
        border-radius: 0 1rem 1rem 1rem; }
      .nav-container .nav-menu-items #nav-item-contacto:hover #submenu-contacto {
        text-align: center;
        display: block;
        position: absolute;
        background-color: #005d44;
        margin-top: -2.1rem;
        width: 9.5rem;
        margin-left: 10rem;
        border-radius: 0 1rem 1rem 1rem; } }

@media screen and (max-width: 768px) and (max-width: 768px) {
  #social-media {
    margin-left: 37%;
    margin-top: 3rem; }
  .logo a {
    margin-right: 4rem; } }

@media screen and (max-width: 768px) {
  /* FOOTER */
  footer {
    width: 100vw; }
    footer .container-footer {
      flex-direction: column;
      flex-grow: auto; }
      footer .container-footer .footer-columna {
        margin: auto;
        text-align: center; }
  .logo {
    margin: 0; } }

/* BLOG */
@media screen and (max-width: 768px) {
  .entrada-texto {
    text-align: center;
    max-inline-size: 22rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px; }
  #imagen-nosotros {
    max-width: 300px; } }

@media screen and (min-width: 900px) {
  .entrada-texto {
    opacity: 0;
    transition: 1s;
    width: 25rem; } }

@media screen and (min-width: 900px) {
  .btn-leer-mas {
    background-color: transparent;
    margin-left: 35%;
    margin-top: 28%;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 1,5rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    opacity: 0;
    transition: 1s; } }

/* INDEX */
@media screen and (max-width: 768px) {
  .container {
    margin: 0; }
  .logo-interno {
    max-width: 350px; } }

/* NOSOTROS */
@media screen and (max-width: 768px) {
  .seccion-nosotros {
    flex-direction: column; }
  .flex-about-us {
    flex-direction: column; }
  .presentacion {
    margin: auto; }
    .presentacion p {
      max-inline-size: 17rem;
      margin-left: 1rem; } }

/* PRODUCTOS */
@media screen and (max-width: 768px) {
  .galeria-productos {
    width: 100vw; }
  .flex-productos {
    width: 100vw;
    flex-direction: column; }
  td {
    display: block;
    margin: auto; }
  thead {
    display: none; } }
